@define-color bg-clr #52687a;
@define-color text-clr #ccbbaa;
@define-color main-bg-clr #ffd09a;
@define-color main-text-clr @bg-clr;
@define-color accent-bg-clr #aa567a;

* {
  margin: 0;
  padding: 0;
  font-family: "CatV 6x12 9", sans-serif;
  font-size: 13pt;
}

window#waybar {
  background: @bg-clr;
  color: @text-clr;
}


label.module:hover {
  color: #fbc;
}

.modules-center {
  background: @main-bg-clr;
  color: @main-text-clr;
}

.modules-right {
  background: @accent-bg-clr;
}

.module {
  margin: 0;
  padding: 0 10px 0 10px;
}

#pulseaudio {
  min-width: 90px;
}
