@define-color bg-clr #52687a;
@define-color text-clr #ccbbaa;
@define-color main-bg-clr #ffd09a;
@define-color main-text-clr @bg-clr;
@define-color accent-bg-clr #aa567a;

* {
  margin: 0;
  padding: 0;
  font-family: "CatV 6x12 9", sans-serif;
}

window#waybar {
  background: @bg-clr;
  color: @text-clr;
}


label.module:hover {
  color: #fbc;
}

.mainbar {
  font-size: 14pt;
}
.mainbar .modules-center {
  background: @main-bg-clr;
  background: linear-gradient(135deg, transparent 13px, @main-bg-clr 0) top left,
    linear-gradient(-135deg, transparent 13px, @main-bg-clr 0) top right;
  background-size: 50%;
  background-repeat: no-repeat;
  color: @main-text-clr;
  padding: 0 20px;
}
.mainbar .modules-left {
  background: linear-gradient(-45deg, transparent 22px, @accent-bg-clr 0);
  padding: 0 22px 0 10px;
  font-size: 12pt;
}

.module {
  margin: 0;
  padding: 0 10px 0 10px;
}

.module#temperature,
.module#custom-gpu_temp {
  padding: 0 20px 0 0;
}

window#waybar.audiobar {
  background: transparent;
}
#pulseaudio {
  min-width: 90px;
}
#cava {
  font-size: 20pt;
  color: @accent-bg-clr;
}

